@font-face {
    font-family: Roboto;
    src: url("Roboto/Roboto-Thin.ttf");
}

html, body {
    width:100%;
    margin:0;
    padding:0;
    font-family: Roboto;
    font-size:10px;
    font-weight:600;
    line-height: 1.5;
}

header {
    height:60px;
    width:100%;
    background:#03d875;
}

main {
    padding-top:20px;
}

.container {
    width:1200px;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}

.text-section {
    width:32%;
    font-size:1.6rem;
    padding: 10px;
    box-sizing:border-box;
    border-right:0.5px solid #000;
}

.text-section:nth-child(3) {
    border-right:0;
}

/* for key control */

.button:active:hover {
    visibility: hidden;
}